@page
@model ServeVueWithKestrel.Pages.CategoriesModel
@{
    ViewData["Title"] = "Categories";
}

@section Scripts {
    <script type="module" src="/app/assets/categories.js"></script>
    <script src="~/app/assets/categories.js"></script>
}
<div id="categories"></div>