@page
@model ServeVueWithKestrel.Pages.ConstructionsModel
@{
    ViewData["Title"] = "Constructions";
}
@section Scripts {
    <script type="module" src="/app/assets/constructions.js"></script>
    <script src="~/app/assets/constructions.js"></script>
}
<div id="constructions"></div>