@page
@model ServeVueWithKestrel.Pages.FavoritesModel
@{
    ViewData["Title"] = "Favorites";
}
@section Scripts {
    <script type="module" src="/app/assets/favorites.js"></script>
    <script src="~/app/assets/favorites.js"></script>
}
<div id="favorites"></div>