@page
@model ServeVueWithKestrel.Pages.HistoryModel
@{
    ViewData["Title"] = "History";
}
@section Scripts {
    <script type="module" src="/app/assets/history.js"></script>
    <script src="~/app/assets/history.js"></script>
}
<div id="history"></div>
